@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Iceberg&display=swap');

body {
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #EDFBDE 100%);
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 30px;
}
.createtask-container {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 30px;
  padding: 30px;

  a {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px 5px 6px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.task {
  letter-spacing: normal;
  font-size: 16px; 
  margin-top: 5px; 
}
.task, .day {
  padding: 0px 6px;
}
.task, p {
  font-family: "Andika", sans-serif;
}
.form-label, .username-label {
  p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
p {
  font-size: 15px;
  margin: 0;
}
.title, .checkbox-label, h1, h2, h3 {
  color: #000; 
  font-family: "Iceberg", sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  margin: 0;
}
.task, .day, .title, .checkbox-label, h1, h2, h3 {
  color: #000; 
  font-style: normal;
  line-height: normal;

}
.form {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vh;
  height: 50vh;
  background-color: #FFF;
  border: 2px solid #000;  
}
.form-username {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 35vh;
  height: 26vh;
  background-color: #FFF;
  border: 2px solid #000;

  input[type="text"] {
    margin: 0px 15px;
  }
  .username-label {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  button {
    background: radial-gradient(50% 50% at 50% 50%, #FCFFEC 0%, #FFF7CB 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.50) inset;
    border: 2px solid #000;
  }
}
input[type="text"], select {
  font-size: 15px;
}
input[type="checkbox"] {
  display: none;
}
.form-label {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
}
.todo-list {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 50vh;
  max-height: 60vh;
  min-width: 40vh;
  background-color: #FFF;
  border: 2px solid #000;

  &.empty {
    align-items: center;
    justify-content: center;

    & p {
      color: #8e8e8e;
      font-size: 20px;
    }
    
  }
}
.todo-card {
  max-height: max-content;
  width: 40vh;
  border-bottom: 2px solid #000;
}
.checkbox-label, .day {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: max-content;
}
.day {
  justify-content: flex-end;
  text-transform: lowercase;
  margin-bottom: 5px;
}

.icon {
  margin: 0px 5px;
}
.icons {
  display: flex;
  align-items: center;
}
.incomplete {
  color: #889eb9;
  cursor: pointer;
}
.complete {
  color: #4e9534;
  cursor: pointer;   
}

.btn {
  align-self: center;
  max-width: max-content;
  margin: 20px;
  padding: 10px 15px;
}


.title-section, .task-section, .day-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 480px;
  height: 110px;
  border: 2px solid #000;
  background: radial-gradient(50% 50% at 50% 50%, #FCFFEC 0%, #FFF7CB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.50) inset;
}
h1, h2, h3 {
  
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
  border-bottom: 2px solid #6385b9;
  padding: 20px 40px;
}
h3 {
  font-size: 25px;
  background: radial-gradient(50% 50% at 50% 50%, #FCFFEC 0%, #FFF7CB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.50) inset;
  padding: 15px 35px;
}
button {
  font-family: "Iceberg", sans-serif;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
  border: 2px solid #6385b9;
}