@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Iceberg&display=swap');

body {
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #EDFBDE 100%);
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  display: flex;
  position: fixed;
  width: -webkit-fill-available;
  height: 45vh;
  flex-direction: column;
  align-items: center;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 30px;
}
.createtask-container {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 30px;


  a {
    align-self: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px 5px 6px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
}
.exit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: -webkit-fill-available;
  justify-content: center;

  p {
    font-family: "Iceberg", sans-serif;
    letter-spacing: 1.5px;
    font-size: 24px;
    text-align: center;
  }
}
.help-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;  
  height: 50vh;
  width: 40vh;
  padding: 30px;
  margin: 30px;
  background: white;
  border: 2px solid #000;

  a {
    align-self: center;
  }
  p {
    grid-column: 2 / 3;
    font-size: 18px;
  }
  h3 {
    
    border: 2px solid #000;
  }
  .help-icon {
    grid-column: 1 / 2;
    cursor: default;
  }
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.task {
  letter-spacing: normal;
  font-size: 16px; 
  margin-top: 5px; 
}
.task, .day {
  padding: 0px 6px;
}
.task, p {
  font-family: "Andika", sans-serif;
}
.form-label, .username-label {
  p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
p {
  font-size: 15px;
  margin: 0;
}
.title, .checkbox-label, h1, h2, h3 {
  color: #000; 
  font-family: "Iceberg", sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  margin: 0;
}
.task, .day, .title, .checkbox-label, h1, h2, h3 {
  color: #000; 
  font-style: normal;
  line-height: normal;

}
.form {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vh;
  height: 50vh;
  background-color: #FFF;
  border: 2px solid #000;  
}
.form-username {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 40vh;
  margin: 30px;
  background-color: #FFF;
  border: 2px solid #000;

  input[type="text"] {
    margin: 30px 30px 10px 30px;
  }
  .username-label {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
input[type="text"], select {
  font-size: 15px;
}
input[type="checkbox"] {
  display: none;
}
.form-label {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
}
.todo-list {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 50vh;
  max-height: 60vh;
  min-width: 40vh;
  background-color: #FFF;
  border: 2px solid #000;

  &.empty {
    align-items: center;
    justify-content: center;

    & p {
      color: #8e8e8e;
      font-size: 20px;
    }
    
  }
}
.todo-card {
  max-height: max-content;
  width: 40vh;
  border-bottom: 2px solid #000;
}
.checkbox-label, .day {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: max-content;
}
.day {
  justify-content: flex-end;
  text-transform: lowercase;
  margin-bottom: 5px;
}
.icons {
  display: flex;
  align-items: center;
}
.help-icons {
  display: grid;
  justify-items: start;
  align-items: center;
  align-self: flex-start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px 0px;
}
.icon {
  margin: 0px 5px;
}
.help-icon {
  margin: 5px;
}
.incomplete {
  color: #889eb9;
  cursor: pointer;
}
.complete {
  color: #4e9534;
  cursor: pointer;   
}

.btn {
  align-self: center;
  max-width: max-content;
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  color: #000;
  text-align: center;
  font-weight: 400;
  cursor: pointer;

  &.menu, &.exit, &.help {
  border: 2px solid #000;
  }
  &.menu, &.exit {
  background: radial-gradient(50% 50% at 50% 50%, #FCFFEC 0%, #FFF7CB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.50) inset;
  }
  &.exit {
  padding: 10px 30px;
  font-size: 26px;
  }
  &.menu {
  padding: 15px 35px;
  font-size: 35px;
  }
  &.menu, &.username {
  text-transform: uppercase;  
  }
  &.username {
  padding: 10px 25px;
  }
  &.todoform, &.username {
  border: 2px solid #6385b9;
  }
  &.todoform, &.username, &.help {
  font-size: 25px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
  }
  &.todoform, &.help {
  padding: 10px 25px;
  }
}

.btn:hover {
  transition: 0.5s;

  &.menu:hover, &.exit:hover {
  border: 2px solid rgb(168, 162, 115);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.40) inset;
  }
  &.username:hover, &.todoform:hover, &.help {
  border: 2px solid rgb(173, 191, 219);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(89, 145, 198, 0.25) inset;
  }
}
.btn:active {
  transition: 0.3s;
  transform: translateY(3px);
}


.title-section, .task-section, .day-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: 480px;
  height: 110px;
  border: 2px solid #000;
  background: radial-gradient(50% 50% at 50% 50%, #FCFFEC 0%, #FFF7CB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 6px rgba(198, 180, 89, 0.50) inset;
}
h1, h2, h3, h4 {
  text-align: center;
  font-weight: 700;
}
h1, h2, h3 {
  text-transform: uppercase;
}
h2, h3 {
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E3EEFF 100%);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%), 0px 0px 30px 6px rgb(89 145 198 / 30%) inset;
  border-bottom: 2px solid #6385b9;  
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  padding: 20px 40px;
}
h3 {
  font-size: 28px;
  padding: 15px 35px;
}
h4 {
  font-size: 24px;
}